/* Update CSS to style the platform cards and images */
.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three columns with equal width */
  gap: 20px;
  /* Optional: Add gap between game cards */
}

.platform-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  /* Adjust the width as needed */
}

.platform-image-container {
  height: 50px;
  /* Set a fixed height for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

.platform-post {
  background-color: #f0f0f0;
  /* Light grey background */
  border: 2px solid black;
  /* Solid black border */
  font-family: 'Comic Sans MS', cursive;
  /* Set font to Comic Sans */
  padding: 15px;
  /* Adjust padding as needed */
  margin-bottom: 15px;
  /* Optional: Add space between posts */
}


/* Active styles for the Like button */
.active-like {
  color: green;
  /* Change color to green */
}

/* Active styles for the Dislike button */
.active-dislike {
  color: red;
  /* Change color to red */
}