/* Styling for the forms */

/* Centering the forms on the page */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust this if needed */
    background-color: #f5f5f5;
    /* Container background color */
}

/* Styling for form elements */
form {
    width: 80%;
    /* Adjust the form width */
    background-color: white;
    /* Form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 120px;
    /* Adjust label width */
    margin-right: 10px;
}

input,
select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}